{% extends 'base.html' %}
{% load static %}
{% block seo %}
<title>Статьи по теме: {{ category.name | capfirst | default_if_none:"-" }} | Нутрициолог Елена Мишута</title>
<meta name="description" content="Все статьи на тему {{ category.name }} от нутрициолога Елены Мишуты. Простые и понятные материалы о питании, расчете калорий и здоровом образе жизни.">
<meta name="keywords" content="{{ category.name }}, статьи о питании, нутрициология, здоровое питание">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{% url 'blog_category' category.slug %}">
<meta property="og:url" content="{% url 'blog_category' category.slug %}">
<meta property="og:type" content="article">
<meta property="og:title" content="Статьи на тему: {{ category.name | capfirst | default_if_none:'-' }} | Нутрициолог Елена Мишута">
<meta property="og:image" content="{% static 'images/elenamishuta.jpg' %}">
<meta property="og:site_name" content="Нутрициолог Елена Мишута">
<meta property="og:description" content="Читайте все статьи на тему {{ category.name }} в блоге нутрициолога Елены Мишуты. Экспертные материалы о правильном питании.">
{% endblock %}
{% block page_content %}
 <section class="blog">
  <header class ="center">
    <div class="container">
      <h1 class="animate-on-scroll delay-1">База знаний<br>
          по категории {{ category.name | capfirst | default_if_none:"-" }}</h1>
     <h4><a class="animate-on-scroll delay-3" href="{% url 'blog_index' %}">Все статьи</a></h4>
    </div>
  </header>
 </section>
<section class='page_section blog'>
    <div class="content_section container">
        <div class="row">
            <div class="posts_block">
  {% for post in posts %}
  <div class="element col-md-6">
      <div class="blog_post">
          <div class="round_corners">
              <div class="post_flex">
                  <img src = "{{ post.image_min.url }}" alt = "{{ post.alt }}">
              </div>
              <h3><a class ="text-decoration-none" href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h3>
              <small>{{ post.created_on }} |</small>
              {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.slug %}">
                {{ category.name | capfirst }} |&nbsp
                </a>
              {% endfor %}
              <p>{{ post.content | safe  }} </p>
          </div>
      </div><!--//blog_post-->
  </div>
    {% endfor %}
            </div>
        </div>
    </div>
 </section>
 {% endblock %}
