{% extends 'base.html' %}
{% load static %}
{% block seo %}
        <title>Пошив одежды на заказ в Минске | Индивидуальный пошив костюмов и платьев</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="пошив на заказ, пошив на заказ минск, пошив одежды на заказ, индивидуальный пошив, пошив костюма на заказ, пошив платья на заказ, пошить костюм на заказ, пошить платье на заказ, ателье минск, пошив одежды на заказ в минске, сколько стоит пошив на заказ" name="keywords">
        <meta content="Индивидуальный пошив одежды на заказ в Минске. Пошив костюмов, платьев и пальто из итальянских тканей. Идеальная посадка по вашей фигуре. Бесплатная консультация и расчет стоимости!" name="description">
{% endblock %}
{% block page_content %}
      <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Каталог</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Страницы</a></li>
                    <li class="breadcrumb-item active text-primary">Каталог</li>
                </ol>
            </div>
        </div>
        <!-- Header End -->
        <!-- Gallery Start -->
        <div class="container-fluid gallery py-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-secondary text-uppercase">Примеры работ</h4>
                    <h5 class="mb-4">Все | Костюмы | Платья | Брюки | Куртки</h5>
                    <p class="mb-0">Стоимость индивидуального пошива зависит от сложности фасона и выбранной ткани. Цена на пошив костюма начинается от 510 руб., на платье — от 240 руб.
Точную стоимость вашего проекта назову после бесплатной консультации. Это честно и прозрачно.
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="gallery-item">
                            <img src="{% static 'img/about.jpg' %}" class="img-fluid rounded w-800 h-500" alt="">
                            <div class="search-icon">
                                <a href="{% static 'img/about.jpg' %}" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-1"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="gallery-item">
<div class="bg-secondary rounded d-flex align-items-center justify-content-center text-light w-100" style="height: 500px;">
      306*500</div>
<!--                            <img src="img/gallery-2.jpg" class="img-fluid rounded w-100 h-100" alt="">-->
                            <div class="search-icon">
                                <a href="img/gallery-2.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-2"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="gallery-item">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-center text-light w-100" style="height: 500px;">
      306*500</div>
<!--                            <img src="img/gallery-3.jpg" class="img-fluid rounded w-100 h-100" alt="">-->
                            <div class="search-icon">
                                <a href="img/gallery-3.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-3"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="gallery-item">
<div class="bg-secondary rounded d-flex align-items-center justify-content-center text-light w-100" style="height: 500px;">
      306*500</div>
<!--                            <img src="img/gallery-4.jpg" class="img-fluid rounded w-100 h-100" alt="">-->
                            <div class="search-icon">
                                <a href="img/gallery-4.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-4"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="gallery-item">
<div class="bg-secondary rounded d-flex align-items-center justify-content-center text-light w-100" style="height: 500px;">
      306*500</div>
<!--                            <img src="img/gallery-5.jpg" class="img-fluid rounded w-100 h-100" alt="">-->
                            <div class="search-icon">
                                <a href="img/gallery-5.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-5"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="gallery-item">
                            <div class="bg-secondary rounded d-flex align-items-center justify-content-center text-light w-100" style="height: 500px;">
      636*500</div>
<!--                            <img src="img/gallery-6.jpg" class="img-fluid rounded w-100 h-100" alt="">-->
                            <div class="search-icon">
                                <a href="img/gallery-6.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-6"><i class="fas fa-search-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End -->
{% endblock %}
